<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<script src="../static/js/main.js"></script>

    <title>Safe journey - company - events cars</title>
  </head>
  <body>
    <div id="aside_navigation">
		<div id="sfjourney_aside_logo">
			<p>Safe journey logo </p>
		</div>
		<div id="aside_navigations">
			<a href="./dashboard.html">Dashboard</a>
			<a href="./company_group_cars_list.html">Events cars <span class="aside-navigation-spans">0</span></a>
			<a href="./company_single_cars_list.html">Personal cars <span class="aside-navigation-spans">0</span></a>
			<a href="./bookings.html">Booking <span class="aside-navigation-spans">new 0</span></a>
			<a href="#">Available cars <span class="aside-navigation-spans">0</span></a>
			<a href="#">Starting services soon <span class="aside-navigation-spans">0</span></a>
			<a href="#">Cars in service <span class="aside-navigation-spans">0</span></a>
			<a href="#">Ending services soon <span class="aside-navigation-spans">0</span></a>
			<a href="#">Car prices</a>
			<a href="#">Account</a>
			<a href="#">Settings</a>
			<a href="#">Help & Support</a>
		</div>
	</div>
	<div id="main_load">
		<div id="main_load_header">
			<p>main load header</p>
		</div>
		<div id="main_load_data">
			<div id="car_title_header_and_new_btn">
                <p id="car_title_header_and_new_btn_p">#List of bookings</p>
				<span id="paid_car_registration_fee">numbers of bookings</span>
			</div>
			<div id="car_body_data">				
				<div id="car_prices">
					<div id="current_price_list" class="current_price_price_archive_price">
						<form>
							<label>From: </label>
                            <input type="date" />
                            <label>To: </label>
                            <input type="date" />
                            <label>Payment status: </label>
                            <select>
                                <option value="all">All</option>
                                <option>Transfer waiting</option>
                                <option>Transferred</option>
                            </select>
							<input type="submit" value="view"/>
						</form>						
						<table>
							<thead>
                                <th>Code</th>
                                <th>Booking Type</th>
                                <th>Pick Up Date</th>
                                <th>Returning Date</th>
                                <th>Booked amount</th>
                                <th>Booking Customer</th>
                                <th>Date Booking Made</th>
                                <th>Payment Status</th>
                                <th colspan="4">Actions</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Wedding services</td>
                                    <td>22-02-2021</td>
                                    <td>22-02-2021</td>
                                    <td>120000Rwf</td>
                                    <td>John Doe</td>
                                    <td>25-02-2021</td>
                                    <td>Transfer waiting</td>
                                    <td><a href="#" class="view_button">view</a></td>
                                    <td><a href="#" class="delete_button">delete</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Wedding services</td>
                                    <td>22-02-2021</td>
                                    <td>22-02-2021</td>
                                    <td>120000Rwf</td>
                                    <td>John Doe</td>
                                    <td>25-02-2021</td>
                                    <td>Transferred</td>
                                    <td><a href="#" class="view_button">view</a></td>
                                    <td><a href="#" class="delete_button">delete</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Wedding services</td>
                                    <td>22-02-2021</td>
                                    <td>22-02-2021</td>
                                    <td>120000Rwf</td>
                                    <td>John Doe</td>
                                    <td>25-02-2021</td>
                                    <td>Transfer waiting</td>
                                    <td><a href="#" class="view_button">view</a></td>
                                    <td><a href="#" class="delete_button">delete</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Wedding services</td>
                                    <td>22-02-2021</td>
                                    <td>22-02-2021</td>
                                    <td>120000Rwf</td>
                                    <td>John Doe</td>
                                    <td>25-02-2021</td>
                                    <td>Transfer waiting</td>
                                    <td><a href="#" class="view_button">view</a></td>
                                    <td><a href="#" class="delete_button">delete</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Wedding services</td>
                                    <td>22-02-2021</td>
                                    <td>22-02-2021</td>
                                    <td>120000Rwf</td>
                                    <td>John Doe</td>
                                    <td>25-02-2021</td>
                                    <td>Transferred</td>
                                    <td><a href="#" class="view_button">view</a></td>
                                    <td><a href="#" class="delete_button">delete</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Wedding services</td>
                                    <td>22-02-2021</td>
                                    <td>22-02-2021</td>
                                    <td>120000Rwf</td>
                                    <td>John Doe</td>
                                    <td>25-02-2021</td>
                                    <td>Transfer waiting</td>
                                    <td><a href="#" class="view_button">view</a></td>
                                    <td><a href="#" class="delete_button">delete</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Wedding services</td>
                                    <td>22-02-2021</td>
                                    <td>22-02-2021</td>
                                    <td>120000Rwf</td>
                                    <td>John Doe</td>
                                    <td>25-02-2021</td>
                                    <td>Transfer waiting</td>
                                    <td><a href="#" class="view_button">view</a></td>
                                    <td><a href="#" class="delete_button">delete</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Wedding services</td>
                                    <td>22-02-2021</td>
                                    <td>22-02-2021</td>
                                    <td>120000Rwf</td>
                                    <td>John Doe</td>
                                    <td>25-02-2021</td>
                                    <td>Transferred</td>
                                    <td><a href="#" class="view_button">view</a></td>
                                    <td><a href="#" class="delete_button">delete</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Wedding services</td>
                                    <td>22-02-2021</td>
                                    <td>22-02-2021</td>
                                    <td>120000Rwf</td>
                                    <td>John Doe</td>
                                    <td>25-02-2021</td>
                                    <td>Transferred</td>
                                    <td><a href="#" class="view_button">view</a></td>
                                    <td><a href="#" class="delete_button">delete</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Wedding services</td>
                                    <td>22-02-2021</td>
                                    <td>22-02-2021</td>
                                    <td>120000Rwf</td>
                                    <td>John Doe</td>
                                    <td>25-02-2021</td>
                                    <td>Transfer waiting</td>
                                    <td><a href="#" class="view_button">view</a></td>
                                    <td><a href="#" class="delete_button">delete</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Wedding services</td>
                                    <td>22-02-2021</td>
                                    <td>22-02-2021</td>
                                    <td>120000Rwf</td>
                                    <td>John Doe</td>
                                    <td>25-02-2021</td>
                                    <td>Transfer waiting</td>
                                    <td><a href="#" class="view_button">view</a></td>
                                    <td><a href="#" class="delete_button">delete</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Wedding services</td>
                                    <td>22-02-2021</td>
                                    <td>22-02-2021</td>
                                    <td>120000Rwf</td>
                                    <td>John Doe</td>
                                    <td>25-02-2021</td>
                                    <td>Transferred</td>
                                    <td><a href="#" class="view_button">view</a></td>
                                    <td><a href="#" class="delete_button">delete</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Wedding services</td>
                                    <td>22-02-2021</td>
                                    <td>22-02-2021</td>
                                    <td>120000Rwf</td>
                                    <td>John Doe</td>
                                    <td>25-02-2021</td>
                                    <td>Transferred</td>
                                    <td><a href="#" class="view_button">view</a></td>
                                    <td><a href="#" class="delete_button">delete</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Wedding services</td>
                                    <td>22-02-2021</td>
                                    <td>22-02-2021</td>
                                    <td>120000Rwf</td>
                                    <td>John Doe</td>
                                    <td>25-02-2021</td>
                                    <td>Transfer waiting</td>
                                    <td><a href="#" class="view_button">view</a></td>
                                    <td><a href="#" class="delete_button">delete</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Wedding services</td>
                                    <td>22-02-2021</td>
                                    <td>22-02-2021</td>
                                    <td>120000Rwf</td>
                                    <td>John Doe</td>
                                    <td>25-02-2021</td>
                                    <td>Transfer waiting</td>
                                    <td><a href="#" class="view_button">view</a></td>
                                    <td><a href="#" class="delete_button">delete</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Wedding services</td>
                                    <td>22-02-2021</td>
                                    <td>22-02-2021</td>
                                    <td>120000Rwf</td>
                                    <td>John Doe</td>
                                    <td>25-02-2021</td>
                                    <td>Transferred</td>
                                    <td><a href="#" class="view_button">view</a></td>
                                    <td><a href="#" class="delete_button">delete</a></td>
                                </tr>
                            </tbody>
						</table>						
					</div>					
				</div>
			</div>
		</div>
	</div>
  </body>
</html>