<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">

    <title>Safe journey - company - dashboard</title>
  </head>
  <body>
    <div id="aside_navigation">
		<div id="sfjourney_aside_logo">
			<p>Safe journey logo </p>
		</div>
		<div id="aside_navigations">
			<a href="./dashboard.html">Dashboard</a>
			<a href="./company_group_cars_list.html">Events cars <span class="aside-navigation-spans">0</span></a>
			<a href="./company_single_cars_list.html">Personal cars <span class="aside-navigation-spans">0</span></a>
			<a href="./bookings.html">Booking <span class="aside-navigation-spans">new 0</span></a>
			<a href="#">Available cars <span class="aside-navigation-spans">0</span></a>
			<a href="#">Starting services soon <span class="aside-navigation-spans">0</span></a>
			<a href="#">Cars in service <span class="aside-navigation-spans">0</span></a>
			<a href="#">Ending services soon <span class="aside-navigation-spans">0</span></a>
			<a href="#">Car prices</a>
			<a href="#">Account</a>
			<a href="#">Settings</a>
			<a href="#">Help & Support</a>
		</div>
	</div>
	<div id="main_load">
		<div id="main_load_header">
			<p>main load header</p>
		</div>
		<div id="main_load_data">
			<p>main data load</p>
		</div>
	</div>
  </body>
</html>