<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<script src="../static/js/main.js"></script>

    <title>Safe journey | Home</title>
  </head>
  <body>
	<header>
		<div class="logo-nav">
			<h3><a href="./index.html">Logo</a></h3>
		</div>
		<div class="navigation-bar">
			<ul>
				<li><a href="./index.html">Home</a></li>
				<li><a href="./company_group_cars_list.html">Admin control</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</header>
	<div class="main-body">
		<section class="section-left">
			<h2>Welcome to safe journey project</h2>
			<p>This is a continual project for centering car renting company into one place to help people know where to get car to use in a certain activity without looking at different websites or visiting campanies,
			I will work on this project through out my Web Tech class, i hoep to complete it as I'm expecting.</p>

			<p>I have already started with admin control panel for rental company!</p>
			<p>Visit <a href="./company_group_cars_list.html">admin control</a></p>
		</section>
		<section class="section-right">
			<h4>Some of the solutions <i>Safe Journey</i> will come up with</h4>
			<ul>
				<li>Help rental companies reach to customers easily</li>
				<li>Help rental companies to improve their services by competing with other compinies</li>
				<li>Help people find cars easily</li>
				<li>help people find affordable and good cars on time</li>
			</ul>
		</section>
		<div class="image-body">
			<img src="../static/images/schadrack_fovorite.jpg" alt="car picture 1"/>
		</div>
	</div>
  </body>
</html>
