<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<script src="../static/js/main.js"></script>

    <title>Safe journey - company - events cars</title>
  </head>
  <body>
    <div id="aside_navigation">
		<div id="sfjourney_aside_logo">
			<p>Safe journey logo </p>
		</div>
		<div id="aside_navigations">
            <a href="./dashboard.html">Dashboard</a>
            <a href="./company_group_cars_list.html">Events cars <span class="aside-navigation-spans">0</span></a>
            <a href="./company_single_cars_list.html">Personal cars <span class="aside-navigation-spans">0</span></a>
            <a href="./bookings.html">Booking <span class="aside-navigation-spans">new 0</span></a>
            <a href="#">Available cars <span class="aside-navigation-spans">0</span></a>
            <a href="#">Starting services soon <span class="aside-navigation-spans">0</span></a>
            <a href="#">Cars in service <span class="aside-navigation-spans">0</span></a>
            <a href="#">Ending services soon <span class="aside-navigation-spans">0</span></a>
            <a href="#">Car prices</a>
            <a href="#">Account</a>
            <a href="#">Settings</a>
            <a href="#">Help & Support</a>
        </div>
	</div>
	<div id="main_load">
		<div id="main_load_header">
			<p>main load header</p>
		</div>
		<div id="main_load_data">
			<div id="car_title_header_and_new_btn">
                <p id="car_title_header_and_new_btn_p">#Car code car model details</p>
                <!-- <a href="#" id="pay_car_registration_fee_btn">Pay Car Registration Fee 1000Rwf</a> -->
                <span href="#" id="paid_car_registration_fee">Car registration fee is paid in full</span>
			</div>
			<div id="car_body_data">
                <div id="car_table_data">
                    <div id="car_detailed_info">
                        <div id="car_actual_detailed_info">
                            <p>Code:<span>12</span></p>
                            <p>Seats:<span>40</span></p>                           
                            <p>Car Model:<span>Compass</span></p>
                            <p>Category:<span>School Bus</span></p>
                            <p>Manufacturer:<span>Toyata</span></p>                                                     
                            <p>Trim of car:<span>Limited</span></p>
                            <p>Plate number:<span>RAA123A</span></p>
                            <p>Chassis number:<span>12345678910111213141516</span></p>
                            <p>published:<span>Yes</span></p>
                            <p>Approval status:<span>Approved</span></p>
                            <p>Approved date:<span>Wed, 20-Jan-2021 12:42:45</span></p>
                            <p>Declined date:<span>Wed, 20-Jan-2021 12:42:45</span></p>                           
                            <p>Gives a discount of:<span>0%</span></p>
                            <p>Year of manufacture:<span>2010</span></p>
                            <p>Registration date:<span>Thu, 18-Jan-2021 10:50:48</span></p>
                            <div id="car_description_div">
                                <h4>Car description</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                        <div id="car_approval_declined_comments">
                            <h4>Comment for explaining the reason why car declined</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <div id="car_address_images">
                        <div id="current_and_list_of_car_addresses">
                            <p id="para_current_location">Current location: <span>Kigali, Gasabo, Gisozi, KG 786 Ave, Down TOWN Parking</span></p>
                            <div id="address_location_table">
                                <table>
                                    <thead>
                                        <th>Code</th>
                                        <th>Country</th>
                                        <th>Province</th>
                                        <th>District</th>
                                        <th>Sector</th>
                                        <th>Parking name</th>
                                        <th>Street</th>
                                        <th>Location additional info</th>
                                        <th>Current location</th>
                                        <th colspan="2">Action</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Rwanda</td>
                                            <td>Kigali</td>
                                            <td>Gasabo</td>
                                            <td>Gisozi</td>
                                            <td>Dove underground parking</td>
                                            <td>KG 786 Ave</td>
                                            <td>It is near ULK</td>
                                            <td>Yes</td>
                                            <td><a href="#">Make current</a></td>
                                            <td><a href="#" class="delete">Delete</a></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Rwanda</td>
                                            <td>Kigali</td>
                                            <td>Gasabo</td>
                                            <td>Gisozi</td>
                                            <td>Dove underground parking</td>
                                            <td>KG 786 Ave</td>
                                            <td>It is near ULK</td>
                                            <td>Yes</td>
                                            <td><a href="#">Make current</a></td>
                                            <td><a href="#" class="delete">Delete</a></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Rwanda</td>
                                            <td>Kigali</td>
                                            <td>Gasabo</td>
                                            <td>Gisozi</td>
                                            <td>Dove underground parking</td>
                                            <td>KG 786 Ave</td>
                                            <td>It is near ULK</td>
                                            <td>Yes</td>
                                            <td><a href="#">Make current</a></td>
                                            <td><a href="#" class="delete">Delete</a></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Rwanda</td>
                                            <td>Kigali</td>
                                            <td>Gasabo</td>
                                            <td>Gisozi</td>
                                            <td>Dove underground parking</td>
                                            <td>KG 786 Ave</td>
                                            <td>It is near ULK</td>
                                            <td>Yes</td>
                                            <td><a href="#">Make current</a></td>
                                            <td><a href="#" class="delete">Delete</a></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Rwanda</td>
                                            <td>Kigali</td>
                                            <td>Gasabo</td>
                                            <td>Gisozi</td>
                                            <td>Dove underground parking</td>
                                            <td>KG 786 Ave</td>
                                            <td>It is near ULK</td>
                                            <td>Yes</td>
                                            <td><a href="#">Make current</a></td>
                                            <td><a href="#" class="delete">Delete</a></td>
                                        </tr>                                       
                                    </tbody>
                                </table>
                            </div>
                            <button id="add_new_car_location">Add new location</button>
                        </div>
                        <div id="list_of_car_images">
                            <div id="car_images_div">
                                <h4>Pictures for this car which will be visible to your customers</h4>
                                <div>
                                    <img src="../static/images/schadrack_fovorite.jpg" alt="car picture 1"/>
                                    <!-- <button>Add First Picture</button> -->
                                    <button class="update_car_picture_btn">Update this Picture</button>
                                </div>
                                <div>
                                    <img src="../static/images/schadrack_fovorite.jpg" alt="car picture 2"/>
                                    <!-- <button>Add second Picture</button> -->
                                    <button class="update_car_picture_btn">Update this Picture</button>
                                </div>                               
                            </div>
                            <div id="car_plate_number_image">
                                <h4>Here is the plate number picture for this car</h4>
                                <img src="../static/images/schadrack_fovorite_plate_number.jpg" alt="plate number picture"/>
                                <br/>
                                <!-- <button>Add second Picture</button> -->
                                <button class="update_car_picture_btn">Update this Picture</button>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
  </body>
</html>